* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  background-image: url("../img/lachlan.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 70px 2.5fr 1fr;
  grid-template-areas:
    "nav nav . search search"
    "main main player player player"
    "footer footer footer footer footer";
}
.nav {
  grid-area: nav;
}
.menu,
.search {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.menu__item {
  width: 100%;
  /* background-color: transparent; */
  border: 1px solid blue;
  text-shadow: 1px 1px black;
}
.menu__item:first-child {
  backdrop-filter: blur(4px);
}

.lookFor {
  grid-area: search;
}
.search__item {
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  text-shadow: 1px 1px black;
}
.search__item:first-child {
  font-weight: bold;
}
.search__link,
.menu__link {
  text-decoration: none;
  color: white;
}
.menu__item:nth-child(2) {
  font-weight: bold;
}
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--gutter);
}
.ventrix {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 44px;
  color: snow;
  /* text-shadow: 1px 1px black; */
  padding-left: 32px;
  padding-bottom: 20px;
}
.ventrix__line {
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 20%;
  opacity: 0.8;
  width: 30px;
  align-self: flex-start;
  margin-left: 35px;
}
.content {
  width: 70%;
  padding-top: 16px;
  padding-left: 32px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgrey;
  text-shadow: 1px 1px black;
  align-self: flex-start;
}

.player {
  grid-area: player;
}
.player__source {
  color: aqua;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  border: 1px solid lightsalmon;
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border: 1px dotted red;
  width: 25%;
  height: 100%;
  flex-direction: column;
}
.footer--1 {
  color: var(--primary-color);
}
.footer--2 {
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
  font-size: 10px;
}
.footer--3 {
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
}
.footer--4 {
  color: var(--primary-color);
}
